body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #f6f9fa;

}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-shrink: 1;
}

.logo-name {
    display: flex;
    flex-direction: column;
}

span {
    font-size: 1.25rem;
    font-weight: 500;
    color: transparent;
    background-image:linear-gradient(30deg, rgba(120,70,215,1) 0%, rgba(92,111,188,1) 56%, rgba(60,140,156) 100%, rgba(50,170,79,1) 100%); 
    -webkit-background-clip: text;
    background-clip: text;
}

.nav-links {
    display: flex;
    flex-shrink: 3;
}

nav ul li {
    list-style: none;
    padding: 2% 2%;
}

nav ul li a {
    text-decoration: none;
}

.sign-in {
    display: flex;
    flex-shrink: 1;
}

.banner {
    margin-top: 0;
    width: 100%;
    height: 300px;
    background:
     /*top, gradient green and blue */
     linear-gradient(to right,
        #7846d7,
        #5c6fbc,
        #3c8c9c,
        #32aa4f
     )
}

h1 {
    color: #f6f9fa;
}
 
.banner p {
   color: #f6f9fa; 
}
.no-result {
text-align: center;
padding: 30px;
}

.hidden {
display: none;
}

.footer {
background: #111;
color: #eee;
padding: 30px;
text-align: center;
margin-top: 40px;
}

/* RESPONSIVE */
@media(max-width: 600px) {
.navbar { padding: 15px; }
#searchInput { padding: 12px; }
}
