body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #f6f9fa;

}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-shrink: 1;
}

.logo-name {
    display: flex;
    flex-direction: column;
}

span {
    font-size: 1.25rem;
    font-weight: 500;
    color: transparent;
    background-image:linear-gradient(30deg, rgba(120,70,215,1) 0%, rgba(92,111,188,1) 56%, rgba(60,140,156) 100%, rgba(50,170,79,1) 100%); 
    -webkit-background-clip: text;
    background-clip: text;
}

.nav-links {
    display: flex;
    flex-shrink: 3;
}

nav ul li {
    list-style: none;
    padding: 2% 2%;
}

nav ul li a {
    text-decoration: none;
}

.sign-in {
    display: flex;
    flex-shrink: 1;
}

.banner {
    margin-top: 0;
    width: 100%;
    height: 300px;
    background:
     /*top, gradient green and blue */
     linear-gradient(to right,
        #7846d7,
        #5c6fbc,
        #3c8c9c,
        #32aa4f
     )
}

h1 {
    color: #f6f9fa;
}
 
.banner p {
   color: #f6f9fa; 
}
.no-result {
text-align: center;
padding: 30px;
}


.hidden {
display: none;
}

.footer {
    background: linear-gradient(to right, #4c2c77, #1a0f30);
    color: white;
    padding: 40px 0 20px 0;
    font-family: sans-serif;
}

.footer-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.column-one {
   
    flex: 0 0 35%; 
    min-width: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.logo-group {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

.logo-group img {
    width: 30px; 
    height: 30px;
    margin-right: 10px;
}

.logo-group h1 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
}

.description-text {
    margin-top: 0; 
    font-size: 0.90em;
    line-height: 1.5;
}
.column-two {
    flex: 0 0 20%; 
    min-width: 150px;
}

.column-two h2 {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 15px 0;
}

.column-two ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    line-height: 2; 
    font-size: 0.90em;
}

.column-three {
    
    flex: 0 0 35%; 
    min-width: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
}

.column-three h3 {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 15px 0;
}

.mission-text {
    margin-top: 0;
    font-size: 0.90em;
    line-height: 1.5;
}

.copyright-text {
    flex: 0 0 100%; 
    order: 4; 
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15); 
    font-size: 0.85em;
    text-align: left;
    text-align: center;
}



/* RESPONSIVE */
@media(max-width: 600px) {
.navbar { padding: 15px; }
#searchInput { padding: 12px; }
}
